*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,main{
    position: relative;
    z-index: -10;
    scroll-behavior: smooth;
}
/* font settings */

@font-face {
    font-family: "Obviously Variable";
    src: url(../fonts/Obviously_Variable/ObviouslyNarrow-SemiBold.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: "Obviously Variable";
    src: url(../fonts/Obviously_Variable/ObviouslyNarrow-SemBdIta.otf) format("opentype");
    font-style: italic;
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: "Obviously Variable";
    src: url(../fonts/Obviously_Variable/ObviouslyNarrow-Black.otf) format("opentype");
    font-style: normal;
    font-weight: 600;
    font-display: auto;
}

@font-face {
    font-family: "Obviously Variable";
    src: url(../fonts/Obviously_Variable/ObviouslyNarrow-BlackItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 600;
    font-display: auto;
}

@font-face {
    font-family: "Obviously Variable";
    src: url(../fonts/Obviously_Variable/ObviouslyNarrow-Super.otf) format("opentype");
    font-style: normal;
    font-weight: 800;
    font-display: auto;
}

@font-face {
    font-family: "Obviously Variable";
    src: url(../fonts/Obviously_Variable/ObviouslyNarrow-SuperItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 800;
    font-display: auto;
}

/* the end of font settings */

header{
    width: 100%;
    position: fixed;
    display: flex;
    gap: 55%;
    padding: 25px 50px;
    align-items: center;
    box-shadow: 1px 1px 3px black;
    background-color: #f8fafc;
    z-index: 10;
}

nav ul{
    display: flex;
    gap: 25px;
    margin-left: 5vw;
}

nav ul li a{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    font-size: 1.2vw;
    width: 100%;
    transform-origin: center;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(1);
}

li{
    list-style: none;
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform-origin: left;
    transform: scaleX(0);
    overflow: hidden;
}

nav ul li a:hover{
    transform: scale(0.8) skewX(-4deg);
}

nav ul li a:hover::after{
    opacity:1;
    transform: scaleX(1);
}

header a, footer a{
    text-decoration: none;
    color: black;
}

header li a{
    font-family: "Obviously Variable", 'sans-serif';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h1,h2,p{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    font-weight: 400;
    opacity: 0.6;
    /* width: 60vw; */
    overflow-wrap: break-word;
}

h3,h4{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 1.5vw;
}

h4{
    font-size: 4vw;
}

section.vibe-menu{
    width: 100%;
    height: 80vh;
    background-color: bisque;
    padding: 20vh 50px 50px 50px;
}

.section-title{
    display: flex;
    font-size: 3vw;
    /* margin: 0 auto; */
    justify-content: center;
}

.options-group{
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.option-level1, .option-level2{
    display: flex;
    gap: 5vw;
}

button{
    font-family: "Lobster", sans-serif;
    width: 15vw;
    /* background-color: cadetblue; */
    padding: 25px;
    border: 0;
    border-radius: 15px;
    text-shadow: 1px 1px 3px black;
    box-shadow: 3px 3px 10px black;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button.coziness-button{
    background-color: gray;
    transform-origin: left top;
}

button.coziness-button:hover{
    background-color: white;
    color: gray;
    transform: scaleX(4) scaleY(3);
    position: relative;
}

.button-placeholder{
    color: white;
    font-size: 2vw;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button.coziness-button:hover .coziness.button-placeholder{
    position: absolute;
    top: 5%;
    left: 5%;
    color: gray;
    font-size: 1vw;
}

button.coziness-button:hover .coziness.invisible{
    display: block;
}

.invisible{
    display: none;
    margin-top: 1.5vh;
}

.invisible h3{
    font-size: 0.8vw;
}

.invisible p{
    font-size: 0.3vw;
}

.section-content{
    margin-top: 0.5vh;
}

button.zest-button{
    background-color: rgb(246, 71, 51);
    transform-origin: center top;
}

button.zest-button:hover{
    background-color: white;
    color: rgb(246, 71, 51);
    transform: scaleX(4) scaleY(3);
    position: relative;
}

button.zest-button:hover .zest.button-placeholder{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(246, 71, 51);
    font-size: 1vw;
}

button.zest-button:hover .zest.invisible{
    display: block;
}

button.chill-button{
    background-color: cornflowerblue;
    transform-origin: right top;
}

button.chill-button:hover{
    background-color: white;
    color: cornflowerblue;
    transform: scaleX(4) scaleY(3);
    position: relative;
}

button.chill-button:hover .chill.button-placeholder{
    position: absolute;
    top: 5%;
    right: 5%;
    /* transform: translate(-50%, 0); */
    color: cornflowerblue;
    font-size: 1vw;
}

button.chill-button:hover .chill.invisible{
    display: block;
}

button.refleshing-button{
    background-color: forestgreen;
    transform-origin: left bottom;
}

button.refleshing-button:hover{
    background-color: white;
    color: forestgreen;
    transform: scaleX(4) scaleY(3);
    position: relative;
}

button.refleshing-button:hover .refreshing.button-placeholder{
    position: absolute;
    top: 5%;
    left: 5%;
    color: forestgreen;
    font-size: 1vw;
}

button.refleshing-button:hover .refreshing.invisible{
    display: block;
}

button.healing-button{
    background-color: hotpink;
    transform-origin: center bottom;
}

button.healing-button:hover{
    background-color: white;
    color: hotpink;
    transform: scaleX(4) scaleY(3);
    position: relative;
}

button.healing-button:hover .healing.button-placeholder{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: hotpink;
    font-size: 1vw;
}

button.healing-button:hover .healing.invisible{
    display: block;
}

button.inspirations-button{
    background-color: indigo;
    transform-origin: right bottom;
}

button.inspirations-button:hover{
    background-color: white;
    color: indigo;
    transform: scaleX(4) scaleY(3.5);
    position: relative;
}

button.inspirations-button:hover .inspirations.button-placeholder{
    position: absolute;
    top: 5%;
    right: 5%;
    /* transform: translate(-50%, 0); */
    color: indigo;
    font-size: 1vw;
}

button.inspirations-button:hover .inspirations.invisible{
    display: block;
}

button:hover{
    transform: translateY(5px);
    box-shadow: 0 0 0 black;
    background-color: white;
    color: cadetblue;
    text-shadow: 0 0 0 white;
}

#front{
    height: 40vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

#cozy{
    height: 100vh;
    background-color: gray;
    color: white;
    padding: 50px;
}

#zest{
    height: 100vh;
    background-color: rgb(246, 71, 51);
    padding: 50px;
    color: white;
}

/* .section-top{
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 10vh;
} */

/* .section-content{
    margin-bottom: 5vh;
} */

/* .genre-html.section-title{
    margin: 20px;
} */

footer{
    width: 100%;
    padding: 10vh 10vw 2.5vh 10vw;
}

.footer-left h5{
    font-size: 2vw;
    font-family: "Bricolage Grotesque", sans-serif;
    display: inline;
}

.footer-left .footer-menu{
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 25px;
    display: flex;
    gap: 5vw;
}

.footer-left .menu-bar{
    margin-top: 2.5vh;
    margin-left: 1vw;
    padding-left: 15px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    border-left: 2px solid #000;
    height: 20vh;
    width: 10vw;
    display: flex;
    align-items: center;
}

.footer-left .genre-menu-bar{
    margin-top: 2.5vh;
    margin-left: 1vw;
    padding-left: 15px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    border-left: 2px solid #000;
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
}

.footer-left ul{
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

.footer-left ul li a{
    /* display: inline; */
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    font-size: 1.5vw;
}

.footer-left ul li a:hover{
    opacity: 1;
    font-size: 1.6vw;
}

.footer-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.footer-bottom p{
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 0.8vw;
}

.footer-main{
    display: flex;
    gap: 22.5vw;
}

.footer-right h5{
    font-size: 2vw;
    font-family: "Lobster";
    margin-bottom: 1.5vh;
}

.info2{
    margin-left: 2vw;
    margin-top: 2vh;
}

.info2-text{
    display: flex;
    align-items: center;
    /* margin-left: -6vw; */
    margin-top: 1vh;
    margin-left: 1vw;
}

.info1 p, .info2 p{
    margin-top: 1vh;
    font-size: 0.8vw;
    margin-left: 1vw;
}

.info2 img{
    height: 2vw;
}

.info2 .website-link{
    text-decoration: underline;
}

.detail{
    margin-top: 5vh;
    margin-left: 2vw;
}

